<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UsuarioWSPortBinding" />
                <binding name="DriverWSPortBinding" />
                <binding name="ClienteWSPortBinding" />
                <binding name="AreaTrabajoWSPortBinding" />
                <binding name="SedeWSPortBinding" />
                <binding name="ServicioWSPortBinding" />
                <binding name="VehiculoWSPortBinding" />
                <binding name="EmpresaWSPortBinding" />
                <binding name="OrdenTrabajoWSPortBinding" />
                <binding name="ComprobantePagoWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/EmpresaWS"
                binding="basicHttpBinding" bindingConfiguration="EmpresaWSPortBinding"
                contract="ServicioEmpresa.EmpresaWS" name="EmpresaWSPort" />
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/OrdenTrabajoWS"
                binding="basicHttpBinding" bindingConfiguration="OrdenTrabajoWSPortBinding"
                contract="ServicioOrdenTrabajo.OrdenTrabajoWS" name="OrdenTrabajoWSPort" />
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/ComprobantePagoWS"
                binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding"
                contract="ServicioComprobantePago.ComprobantePagoWS" name="ComprobantePagoWSPort" />
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/AreaTrabajoWS"
                binding="basicHttpBinding" bindingConfiguration="AreaTrabajoWSPortBinding"
                contract="ServicioAreaTrabajo.AreaTrabajoWS" name="AreaTrabajoWSPort" />
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/DriverWS"
                binding="basicHttpBinding" bindingConfiguration="DriverWSPortBinding"
                contract="ServicioDriver.DriverWS" name="DriverWSPort" />
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/UsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
                contract="ServicioUsuario.UsuarioWS" name="UsuarioWSPort" />
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/VehiculoWS"
                binding="basicHttpBinding" bindingConfiguration="VehiculoWSPortBinding"
                contract="ServicioVehiculo.VehiculoWS" name="VehiculoWSPort" />
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/ServicioWS"
                binding="basicHttpBinding" bindingConfiguration="ServicioWSPortBinding"
                contract="ServicioServicio.ServicioWS" name="ServicioWSPort" />
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/SedeWS"
                binding="basicHttpBinding" bindingConfiguration="SedeWSPortBinding"
                contract="ServicioSede.SedeWS" name="SedeWSPort" />
            <endpoint address="http://72.44.47.118:8080/LP2MegaAutosServices/ClienteWS"
                binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
                contract="ServicioCliente.ClienteWS" name="ClienteWSPort" />
        </client>
    </system.serviceModel>
</configuration>